.post-card-title {
  font-size: 26px;
  font-weight: bold;
  color: #21243d;
  margin: 0 0 10px;
  line-height: 38.19px;
}

* {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
