<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>socials</title>
    <link rel="stylesheet" href="socials.css" />
  </head>
  <body>
    <ul class="socials">
      <li class="socials-list">
        <a href="#" class="socials-link">
          <img src="/images/fb.svg" alt="fb" class="socials-img" />
        </a>
      </li>

      <li class="socials-list">
        <a href="#" class="socials-link">
          <img
            src="/images/instagram.svg"
            alt="instagram"
            class="socials-img"
          />
        </a>
      </li>

      <li class="socials-list">
        <a href="#" class="socials-link">
          <img src="/images/tvitter.svg" alt="tvitter" class="socials-img" />
        </a>
      </li>

      <li class="socials-list">
        <a href="#" class="socials-link">
          <img src="/images/Linkedin.svg" alt="Linkedin" class="socials-img" />
        </a>
      </li>
    </ul>
  </body>
</html>
