<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>socials</title>
    <link rel="stylesheet" href="socials.css" />
  </head>
  <body>
    <img src="/images/fb.svg" alt="fb" class="socials" />

    <img src="/images/instagram.svg" alt="instagram" class="socials" />

    <img src="/images/tvitter.svg" alt="tvitter" class="socials" />

    <img src="/images/Linkedin.svg" alt="Linkedin" class="socials" />
  </body>
</html>
